* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #6366f1;
  --color-secondary: #8b5cf6;
  --color-dark: #1e293b;
  --color-light: #f8fafc;
  --color-text: #334155;
  --font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --transition: all 0.3s ease;
}

body {
  font-family: var(--font-main);
  color: var(--color-text);
  line-height: 1.6;
  background-color: var(--color-light);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background: var(--color-dark);
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-light);
    display: none; /* Ẩn đi */
    flex-direction: column;
  }

  /* Khi checkbox được check thì hiện nav */
  .menu-toggle:checked ~ nav {
    display: flex;
  }

  .hero h1 {
    font-size: 2.5rem;
  }
}
