/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
}

/* HEADER */
header {
  position: sticky;
  top: 0;

  width: 100%;

  background: var(--color-light);

  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.logo {
  font-size: 2rem;
  font-weight: bold;

  color: var(--color-primary);
}

/* NAV */
nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;

  color: var(--color-text);

  font-size: 1rem;
  font-weight: 600;

  position: relative;

  transition: 0.3s;
}

/* Hover effect */
nav a::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -5px;

  width: 0%;
  height: 2px;

  background: var(--color-primary);

  transition: 0.3s;
}

nav a:hover {
  color: var(--color-primary);
}

nav a:hover::after {
  width: 100%;
}

/* HAMBURGER */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;

  flex-direction: column;
  gap: 5px;

  cursor: pointer;
}

.menu-icon span {
  width: 28px;
  height: 3px;

  background: var(--color-dark);

  border-radius: 5px;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  nav {
    display: none;

    position: absolute;

    top: 80px;
    right: 20px;

    width: 220px;

    background: white;

    flex-direction: column;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  #menu-toggle:checked ~ nav {
    display: flex;
  }
}
